/* generel css */
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #152c5b;
}

a {
  text-decoration: none;
}

/* custom css */

/* banner section */
.banner {
  display: flex;
  margin: 50px 150px;
}

.banner-right,
.banner-left {
  width: 50%;
}

.banner-left {
  padding: 80px 25px 0;
}

.banner-right img {
  width: 350px;
  padding-left: 190px;
}

.banner-title {
  border-left: 2px solid #7510f7;
  padding: 0 15px;
  font-size: 40px;
}

#missin-2022-text {
  color: #7510f7;
}

.my-project-btn {
  padding: 10px 20px;
  background-color: #7510f7;
  color: #fff;
  border-radius: 5px;
  font-size: 14px;
}

.banner-scroll-text {
  padding-top: 20px;
  font-size: 14px;
}
/* end banner section */

/* mission section */
.mission {
  margin: 100px 0;
  padding: 0 150px;
}

.mission-title-text {
  text-align: center;
}

.mission-box-container {
  display: flex;
}

.mission-box,
.vission-box,
.goal-box {
  background-color: darkgray;
  margin: 50px 0 50px 20px;
  padding: 25px 25px;
  border-radius: 10px;
  width: 300px;
  color: #fff;
}

.mission-box {
  background-color: #e64a19;
}

.vission-box {
  background-color: #039be5;
}

.goal-box {
  background-color: #43a047;
}

.mission-box img,
.vission-box img,
.goal-box img {
  width: 100px;
}

.mission-box p,
.vission-box p,
.goal-box p {
  font-size: 16px;
  padding-right: 20px;
  /* text-align: justify; */
}
/* end mission section */

/* designer section */
.designer {
  display: flex;
  margin-bottom: 100px;
  padding: 0 170px;
  background-image: url(../images/shapes/shape-1.png);
  background-repeat: no-repeat;
  background-size: 180px;
  background-position: 8% 35%;
}

.designer-left img {
  width: 320px;
  margin-right: 50px;
}

.designer-right {
  /* width: 600px; */
}

.read-more-btn {
  padding: 10px 20px;
  background-color: #7510f7;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  margin-top: 25px;
}
/* end designer section */

/* developer section */
.developer {
  display: flex;
  padding: 0 170px;
  background-image: url(../images/shapes/shape-1.png);
  background-repeat: no-repeat;
  background-size: 150px;
  background-position: right 9% bottom 21%;
}

.developer-right img {
  width: 320px;
  margin-left: 50px;
}
/* end developer section */

/* interest section */
.interest {
  display: flex;
  background-color: aliceblue;
  margin-top: 50px;
}

.interest_box {
  display: flex;
  padding: 50px 0;
  margin: 0 130px;
}

.interest-title {
  margin-left: 33px;
}

.interest-text {
  margin-top: 30px;
  padding: 0px 85px;
}

.conversation-btn {
  padding: 0 30px;
  margin-top: 50px;
}

.conversation-btn a {
  background-color: #7510f7;
  padding: 20px 25px;
  color: #fff;
  border-radius: 50px;
}
/* end interest section */

/* footer */
.footer {
  padding: 5px 0;
  background-color: #141c3a;
  color: #fff;
  text-align: center;
}

.footer h4 {
  font-size: 24px;
}

.footer h4 > span {
  color: #ffad5a;
}

.footer p {
  font-size: 14px;
}
/* end footer */
