/* generel css */
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #152c5b;
}

a {
  text-decoration: none;
}

/* custom css */

/* banner section */
.banner {
  display: flex;
  margin: 50px 100px;
}

.banner-right,
.banner-left {
  width: 50%;
}

.banner-left {
  padding: 80px 25px 0;
}

.banner-right img {
  width: 350px;
  padding-left: 100px;
}

.banner-title {
  border-left: 2px solid #7510f7;
  padding: 0 15px;
}

#missin-2022-text {
  color: #7510f7;
}

.my-project-btn {
  padding: 15px 25px;
  background-color: #7510f7;
  color: #fff;
  border-radius: 10px;
  font-size: 14px;
}

.banner-scroll-text {
  padding-top: 20px;
  font-size: 14px;
}
/* end banner section */

/* mission section */
.mission {
  margin: 100px 0;
  padding: 0 150px;
}

.mission-title-text {
  text-align: center;
}

.mission-box-container {
  display: flex;
}

.mission-box,
.vission-box,
.goal-box {
  background-color: darkgray;
  margin: 50px 0 50px 20px;
  padding: 25px 20px;
  border-radius: 10px;
  width: 300px;
}

.mission-box img,
.vission-box img,
.goal-box img {
  width: 100px;
}
/* end mission section */

/* develop section */

/* end develop section */
